body,
html {
  height: 100%;
  overflow: hidden;
}

.messages__item {
  /* background-color: #dfd087; */
  width: 100%;
  display: block;
}

.max-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

.scroll {
  height: 100%;
  overflow: auto;
}

.message-blue {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #a8ddfd;
  width: 50%;
  height: 100%;
  text-align: left;
  /* font: 400 0.9em "Open Sans", sans-serif; */
  border: 1px solid #97c6e3;
  border-radius: 10px;
}

/* .message-content {
  overflow: hidden;
} */

.message-orange {
  margin-left: calc(100% - 52%);
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8e896;
  width: 50%;
  height: 100%;
  text-align: left;
  /* font: 400 0.9em "Open Sans", sans-serif; */
  border: 1px solid #dfd087;
  border-radius: 10px;
}

.message-timestamp {
  font-size: small;
  text-align: right;
}

.seacrh-bar {
  border-radius: 7px;
  background: #f0f2f4;
  box-shadow: 9px 9px 30px 0px rgba(1, 50, 101, 0.21);
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
}
.seacrh-bar img {
  margin: 14px 10px 15px 15px;
}
.seacrh-bar input {
  background: none;
  border: none;
  height: 45px;
  width: calc(100% - 50px);
}
.seacrh-bar input:focus {
  outline: none;
}

.row {
  padding-bottom: 15%;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f8e896;
}

*::-webkit-scrollbar-thumb {
  background-color: #a8ddfd;
}
